<div class="container">

    <table class="table table-bordered">
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Titulo
            </th>
            <th>
                fecha
            </th>
        </tr>
        <tr *ngFor="let pelicula of listaPeliculasGuardadas; let i = index ">
            <td>
                {{ pelicula.NombreCliente }}
            </td>
            <td>
                {{ pelicula.TituloPelicula }}
            </td>
            <td>
                {{ pelicula.Fecha }}
            </td>
        </tr>
    </table>


    <div class="mb-3 row" style="padding-top: 20px;">
        <div class="col-sm-2">
            <label class="form-label">Pelicula</label>
        </div>
        <div class="col-sm-10">
            <mat-form-field class="select-width">
                <mat-select [(ngModel)]="reserva.PeliculaId" required>
                    <mat-option *ngFor="let pelicula of listaPeliculas" [value]="pelicula.PeliculaId">
                        {{ pelicula.Titulo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button (click)="Guardar()" class="btn btn-primary">Guardar</button>
        </div>
    </div>

</div>